*{ margin:0; padding:0;}
.clear:after{ clear:both; content:""; display:block;}
.left{ float:left; display:inline;}
.right{ float:right; display:inline;}
li{ list-style:none;}
a{ text-decoration:none;}
.ltm-box{
    width:1200px;
    margin: 0 auto;
}
img{border: 0;}
header{
    height: 62px;
}
.ltm-logo{
    width: 329px;
    height: 56px;
    margin-top: 14px;
}
header li{
    float: left;
    height: 65px;
    width: 97px;
    text-align: center;
}
header ul{
    margin-top: 14px;
}
header span{
    float: left;
    margin: 32px 0 0 53px;
    font-size: 27px;
    color: #333;
}
header p{
    float: left;
    width: 1px;
    height: 32px;
    background: #a7a8b0;
}
header ul li dl dd{
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
/*nav*/
nav{
    margin-top: 15px;
}
.bg-dhui {
    background-color: #f6f6f6;
}
.fluid {
    width: 100%;
    height: auto;
    position: relative;
}
.top-nav {
    height: 50px;
}
.top-nav>ul {
    width: 100%;
    height: 100%;
    text-align: left;
}
.top-nav>ul li {
    display: inline-block;
    width: 8.7%;
    height: 100%;
    text-align: center;
    position: relative;
}
.t-nav>a {
    display: inline-block;
    width: 100%;
    height: 50px;
    color: #545454;
    font-size: 14px;
    line-height: 50px;
}
.top-nav>ul li ul {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #f6f6f6;
    z-index:100;
    display: none;
}
.t-nav:hover ul{
    display: block;
}
.t-nav ul li:hover{
    background:#ffb64b;
}
.top-nav>ul li ul li {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
}
.t-nav2 a {
    display: inline-block;
    width: 100%;
    height: 40px;
    color: #545454;
    font-size: 14px;
    line-height: 40px;
}


/*返回上层*/
.goTop {
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    float: left;
    z-index: 99999;
    visibility: hidden;
    background: #000;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    display: none;
}
/*left 广告*/
.xiaoneng-xf {
    width: 235px;
    height: 645px;
    position: fixed;
    left: 10px;
    top: 130px;
    z-index: 99;
}
/*footer*/
.bg-shui {
    background-color: #363940;
}
.fluid {
    width: 100%;
    height: auto;
    position: relative;
}

.ulList {
    float: left;
    padding-top: 50px;
    padding-top /*\**/: 20px\9;
}
.ulList ul {
    display: inline-block;
    width: 150px;
    float: left;
    list-style: none;
    font-size: 16px;
}
.ulList ul li a {
    color: #fff;
}
.ulList ul li {
    width: 150px;
    height: 40px;
    text-align: left;
}
.listTop {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
#erwei {
    height: 230px;
    font-size: 12px;
    float: right;
    padding-top: 106px;
    margin-right: 44px;
    position: relative;
}
#erwei div.erwei-app {
    height: 153px;
    width: 121px;
    background-position: -121px 0;
    float: right;
    margin-left: 30px;
}
#erwei div.erwi-gz {
    height: 153px;
    width: 121px;
    background-position: 0 0;
    float: right;
    background: url(../img/ltm-ewm1.png) no-repeat;
}
#erwei div.erwei-app{
    height: 153px;
    width: 121px;
    background-position: 0 0;
    float: right;
    background: url(../img/ltm-ewem2.png) no-repeat;
}
#erwei div {
    display: block;
    float: right;
    margin-bottom: 20px;

}
#erwei p {
    clear: right;
    text-align: right;
    color: #fff;
}
.xzdianhua{
    background: #000;
}
.xzdianhua p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
/*吸顶条*/
#ltmNav{
    display: none;
    background: #000;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
    line-height: 50px;
    z-index: 101;
}
#ltmNav .t-nav>a{
    color: rgb(242, 160, 45);

}